# Python
__pycache__/
*.py[cod]
.DS_Store

# Entorno virtual
venv/
env/

# Archivos de configuración de la base de datos local
db.sqlite3

# Archivos de configuración de la carpeta media
media/
